@using SchoolMonitoringSystem.Application.UseCases;
@model List<SubjectDto>

@{
    ViewData["Title"] = "All Subjects";
    //Layout = "~/Views/Shared/_Layout.cshtml"; // İsteğe bağlı olarak bir layout belirtebilirsiniz
    List<TeacherDto>? Teachers = ViewData["teachers"] as List<TeacherDto>;
    string? FullName = (Model.Count != 0) ? Teachers.First(x => x.Id == Model.First().TeacherId).FirstName + " " +
        Teachers.First(x => x.Id == Model.First().TeacherId).LastName
        : "";
}

<style>
    .table-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .table {
        width: 60%;
    }

    .table th {
        width: 40%;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .full-page-background {
        background-image: url('/images/340434.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        text-align: center;
        font-size: 1.5rem;
    }

    .align-content-xl-center {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        height: 100%;
    }

    .display-4 {
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: bold;
    }

    .social-links {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

        .social-links a {
            color: black;
            text-decoration: none;
        }
</style>
<div class="full-page-background">

<h3 style="text-align: center;">Fanlar</h3>

@if (!string.IsNullOrEmpty(FullName))
{
    <h5 style="text-align: center;">Bu o'qituvchisi @FullName bo'lgan fanlar ro'yxati.
Ushbu ro'yxat ballari belgilangan balldan yuqori bo'lgan talabalar soni uchun filtrlanadi.</h5>
}
else
{
    <h5 style="text-align: center;">Bu o'qituvchiga tegishli dars yo'q.</h5>
}

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Fan Nomi</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count != 0)
            {
                @foreach (var subject in Model)
                {
                    if (subject != null)
                    {
                        <tr>
                            <td>@subject.SubjectName</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
</div>
