@using SchoolMonitoringSystem.Application.Common.Exceptions;
@using SchoolMonitoringSystem.Application.UseCases;
@model List<TeacherDto>
<!DOCTYPE html>
<html>
<head>
    <title>Barcha O'qituvchilar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS Stilleri */
        .edit-button {
            float: right;
        }

        .update-form {
            display: none;
            margin-top: 10px;
        }

        .notification {
            margin-top: 10px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .full-page-background {
            background-image: url('/images/340434.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            padding-top: 50px;
            color: black;
            text-align: center;
            font-size: 1.5rem;
        }

        .align-content-xl-center {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            height: 100%;
        }

        .display-4 {
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: bold;
        }

        .social-links {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }

            .social-links a {
                color: black;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="full-page-background">
    <div class="container">
        @if (Model.Count == 0)
        {
            <p>Hech narsa topilmadi</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model)
                    {
                        <tr>
                            <td>@teacher.FirstName</td>
                            <td>@teacher.LastName</td>
                            <td>
                                <a href="@Url.Action("GetByTeacherId", "teacher", new { id = teacher.Id })" class="btn btn-info">Batafsil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <a href="/filter/bestteacherfilter" class="btn btn-info"><i class="fas fa-arrow-left"></i> Orqaga</a>
            </div>
        }
    </div>
    </div>
</body>
</html>

