@model SchoolMonitoringSystem.Application.UseCases.CreateStudentCommand
<!DOCTYPE html>
<html>
<head>
    <title>Talaba yaratish</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Talaba yaratish</h1>
        <form id="create-form" enctype="multipart/form-data" method="post" action="/student/createstudent">
            <div class="form-group">
                <label for="FirstName">Ism:</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Ismni kiriting" required>
            </div>
            <div class="form-group">
                <label for="LastName">Familiya:</label>
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Familiyani kiriting" required>
            </div>
            <div class="form-group">
                <label for="BirthDate">Tug'ilgan sanasi:</label>
                <input type="date" class="form-control" id="BirthDate" name="BirthDate" placeholder="Tug'ilgan sanani kiriting" required>
            </div>
            <div class="form-group">
                <label for="Email">Elektron pochta:</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Elektron pochtani kiriting" required>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Telefon raqami:</label>
                <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Telefon raqamini kiriting" required pattern="^\+998\d{9}$" title="Telefon raqami to'g'ri formatda bo'lishi kerak: +998 va 9 ta raqam">
                <span class="text-danger" id="phoneNumberError"></span>
            </div>
            <div class="form-group">
                <label for="StudentRegNumber">Student raqami:</label>
                <input type="text" class="form-control" id="StudentRegNumber" name="StudentRegNumber" placeholder="Student raqamini kiriting" required>
            </div>
             <div class="form-group">
                <label asp-for="Img" class="control-label">Rasm</label>
                <input type="file" asp-for="Img" class="form-control-file" />
                <span asp-validation-for="Img" class="text-danger" id="imgError"></span>
            </div>
            <div class="d-flex justify-content-between">
                <a href="/student/getallstudents" class="btn btn-info"><i class="fas fa-arrow-left"></i> Orqaga</a>
                <button type="submit" class="btn btn-danger">Yaratish</button>
            </div>
        </form>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    var phoneNumberInput = document.getElementById("PhoneNumber");
    var phoneNumberError = document.getElementById("phoneNumberError");

    phoneNumberInput.addEventListener("input", function (event) {
        if (phoneNumberInput.validity.patternMismatch) {
            phoneNumberError.textContent = "Telefon raqami to'g'ri formatda bo'lishi kerak: ^\+998\d{9}$";
        } else {
            phoneNumberError.textContent = "";
        }
    });
     document.querySelector('form').addEventListener('submit', function (event) {
            var input = document.getElementById('Img');
            var file = input.files[0];
            var imgError = document.getElementById('imgError');
            var allowedExtensions = /(\.jpg|\.jpeg)$/i;

            if (file && !allowedExtensions.exec(file.name)) {
                imgError.textContent = 'Faqat JPG va JPEG formatidagi rasm fayllarini yuklang.';
                input.value = ''; // Faylni tanlanganidan keyin o'chirish

                event.preventDefault(); // Formani yuborishni to'xtatish
            } else {
                imgError.textContent = '';
            }
        });
</script>
</body>
</html>

