<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolMonitoringSystem.Api</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolMonitoringSystem.Api.styles.css" asp-append-version="true" />
    <style>
        /* CSS Stilleri */
        .edit-button {
            float: right;
        }

        .update-form {
            display: none;
            margin-top: 10px;
        }

        .notification {
            margin-top: 10px;
        }
    </style>
</head>
<body>

                @RenderBody() <!-- RenderBody() funksiyasini qo'shing -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
