@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@*

<div class="text-center">
    <div class="buttons-container">
        <a asp-action="getallstudents" asp-controller="student" class="btn btn-primary">Students</a>
    </div>
    <div class="buttons-container">
        <a asp-action="getallteachers" asp-controller="teacher" class="btn btn-primary">Teachers</a>
    </div>
</div>
*@
