<<<<<<< Updated upstream
﻿<!DOCTYPE html>
=======
﻿


<!DOCTYPE html>
>>>>>>> Stashed changes
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolMonitoringSystem.Api</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolMonitoringSystem.Api.styles.css" asp-append-version="true" />
<<<<<<< Updated upstream
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SchoolMonitoringSystem.Api</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SchoolMonitoringSystem.Api - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
=======

</head>
    <body>
    <div class="p-3 bg-dark text-white">
        <div class="flexMain">
            <div class="flex1"></div>
            <div class="flex2 d-flex justify-content-between text-center">
                <div class="nav-menu-item d-flex align-items-center">
                <div><strong>Monitoring System</strong></div>
                    <a href="/filter/agestudentfilter" class="nav-link"><i class="fas fa-dollar-sign me-3"></i>AgeStudentFilter</a>
                    <a href="/filter/daymonthfilter" class="nav-link"><i class="fas fa-dollar-sign me-3"></i>DayMonthFilter</a>
                    <a href="/filter/ageteacherfilter" class="nav-link"><i class="fas fa-file-alt me-3"></i>AgeTeacherFilter</a>
                    <a href="/filter/IsBeelineStudentFilter" class="nav-link"><i class="fas fa-building me-3"></i>IsBeelineStudentFilter</a>
                    <a href="/filter/IsBeelineTeacherFilter" class="nav-link"><i class="fas fa-building me-3"></i>IsBeelineTeacherFilter</a>
                    <a href="/filter/BestTeacherFilter" class="nav-link"><i class="fas fa-building me-3"></i>BestTeacherFilter</a>   
                    <a href="/filter/BestSubjectFilter" class="nav-link"><i class="fas fa-building me-3"></i>BestSubjectFilter</a>   
                </div>
                <div class=" d-flex align-items-center gap-3 ms-5"> 

                        @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
            <div class="flex1"></div>
        </div>
    </div>

    <div id="menuHolder">
        <div role="navigation" class="sticky-top border-bottom border-top" id="mainNavigation">
            <div class="flexMain">
                <div class="flex2">
                    <button class="whiteLink siteLink" style="border-right:1px solid #eaeaea" onclick="menuToggle()">
                        <i class="fas fa-bars me-2"></i> MENU
                    </button>
                    <span id="menuIcon" class="fas fa-bars me-2" onclick="menuToggle()"></span>
                </div>

                <div class="flex2 text-end d-block d-md-none">
                    <button class="whiteLink siteLink"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
         @RenderBody()
        <div id="menuDrawer">
            <div class="p-4 border-bottom">
                <div class='row'>
                    <div class="col">
                        <select class="noStyle">
                            <option value="english">English</option>
                            <option value="spanish">Spanish</option>
                            <option value="french">French</option>
                            <option value="italian">Italian</option>
                            <option value="hebrew">Hebrew</option>
                        </select>
                    </div>
                    <div class="col text-end">
                        <i class="fas fa-times" role="btn" onclick="menuToggle()"></i>
                    </div>
                </div>
            </div>
            <div>
                <a href="/Teacher/getallteachers" class="nav-menu-item"><i class="fas fa-home me-3"></i>Teachers</a>
                <a href="/Student/getallstudents" class="nav-menu-item"><i class="fab fa-product-hunt me-3"></i>Students</a>
                <a href="/Subject/getallsubjects" class="nav-menu-item"><i class="fas fa-search me-3"></i>Subjects</a>
                <a href="/Grade/getallgrades" class="nav-menu-item"><i class="fas fa-wrench me-3"></i>Grades</a>
                
            </div>
        </div>
    </div>

    <script>
        function menuToggle() {
            var menuHolder = document.getElementById("menuHolder");
            menuHolder.classList.toggle("drawMenu");
        }
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fortawesome/fontawesome-free/js/all.min.js"></script>

    @RenderSection("Scripts", required: false)
>>>>>>> Stashed changes
</body>
</html>
