@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-danger {
        color: red;
    }

    code {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        background-color: #f8f8f8;
        padding: 2px 4px;
        border-radius: 4px;
    }
</style>

<h1 class="text-danger">Oops.</h1>

<p>
    <strong>Issue:</strong> <code>@Model.Message</code>
</p>
