@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Optionally, specify a layout
}

<h1 class="text-danger">Oops .</h1>
  
<p>
        <strong>Issue :</strong> <code>@Model.Message</code>
</p>


