@using SchoolMonitoringSystem.Application.UseCases
@model SubjectDto
@{
    var teachers = ViewData["teachers"] as List<TeacherDto>;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Subject - School Monitoring System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .full-page-background {
            background-image: url('/images/340434.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
            font-size: 1.5rem;
        }

        .align-content-xl-center {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            height: 100%;
        }

        .display-4 {
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: bold;
        }

        .social-links {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }

            .social-links a {
                color: black;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="full-page-background">
  <div class="container">
    <form id="create-form" method="post" action="/subject/createsubject">
      <h1>Fan yaratish</h1>
      <div class="row justify-content-between">
        <div class="col-md-4">
          <div class="form-group">
            <label for="SubjectName">Fan nomi:</label>
            <input type="text" class="form-control" id="SubjectName" name="SubjectName" placeholder="Fan nomini kiriting" required>
          </div>
          <div class="mt-3">
            <input type="submit" value="Yaratish" class="btn btn-primary">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="TeacherId">O'qituvchi:</label>
            <select class="form-control" id="TeacherId" name="TeacherId" required>
              <option value="">O'qituvchini tanlang</option>
              @foreach (var teacher in teachers)
              {
                  <option value="@teacher.Id">@teacher.FirstName @teacher.LastName</option>
              }
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
